<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="test-bootstrap.php"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         testdox="true"
         colors="true">
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">plates_src</directory>
            <directory suffix="Test.php">demo/src</directory>
            <directory suffix="Test.php">src</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>
    <coverage >
        <include>
            <directory suffix=".php">demo/src</directory>
            <directory suffix=".php">plates_src</directory>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix="Test.php">demo/src</directory>
            <directory>plates_src/Extension/Heroicons/codegen</directory>
        </exclude>
    </coverage>
</phpunit>
